body{
    background-color: rgb(231, 211, 211);/* фон нашего сайта*/
    color:rgb(24, 24, 63);/*цвет нашей строки */
    font-size: 15px;/*размер строки*/
    font-weight: 600px;/*жирность строки*/
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;/*стилистика строки */
 
}
.avatar{
 width: 200px;
 height: 200px;
 border-radius: 28px;
 box-shadow:12px 4px 14px rgba(0, 0, 0, 025);
 margin: 10px;

}

.info{
    color:rgb(34, 34, 28);
    padding-left:25px;
    font-style:italic;
    font-weight:bold;
    text-decoration:none;
   
}

.Conteiner{
    max-width:60%;
    margin:auto; 
    margin-left: 250px;
  
   
}
.bg-red {
    background: #9099a5;
}
.bg-sel {
    background: rgb(199, 209, 214);
}
.bg-res{
    background: rgb(142, 188, 214);
}
  .car{
    
    border-radius:28px;
    padding:4px 20px;
    margin:10px;

}
 input{
    width:auto;
   padding:5px;
    border-radius:20px;
}
 .input_textare{
    width:auto;
    padding:5px;
    border-radius:20px;
}
.Sot{
    border-radius:28px;
    padding:4px 20px;
    margin:10px;
    
}
.Sot a{
    text-decoration: none;
    color:rgb(41, 38, 38);
}
.Sot a:hover{
color:rgb(219, 28, 85);
}
.Sot img{
    width: 80px;
    height: 80px;
    border-radius: 50%; 
}
 
.Sot img:hover{
    box-shadow: 0px 0px 0px 15px rgb(69, 71, 71);
}
.Sot  td {
    border-radius: 28px;
    text-align: center;
    width: 200px;
    
}
img{
    width: 80px;
    height: 80px;
    border-radius: 50%;  

}

 .github img:hover{
    box-shadow: 0px 0px 0px 15px rgb(47, 49, 49);
}


.github   {
    
    border-radius: 28px;
    margin-left: 10px;
    margin: auto;
    padding-bottom: 20px;
    padding-left: 20px;
   
}
.git{
    padding-top: 10px;
    padding-left: 10px; 
}

.github a:hover{
    color:rgb(0, 102, 255);
   
}

  a{
    text-decoration: none;
    color:#011014
}
.repositories a:hover{
    color:rgb(0, 102, 255);
}
ul{
    list-style-type:  none;
}
li{
    margin-top: 10px;
    padding-top: 10px;
}
  ul img{
    width: 20px;
    height: 20px;
  }
  span{
    margin-left: 10px;
  }





@media screen and (min-width:250px) and (max-width:920px) {
    body{
        background-color: rgb(231, 211, 211);
    }
    .Conteiner{
        max-width:100%;
        margin:auto; 
       
    }
    .Sot img:hover{
        box-shadow: 0px 0px 0px 8px rgb(66, 64, 64);
    }
    .github img:hover{
        box-shadow: 0px 0px 0px 8px rgb(47, 49, 49);
    }
}


